/*----- home section style ----- */
.hero-section{
     background-color: #021844;     
}

/*------- button style ------ */
 .my-btn{
    background-image: linear-gradient(orange, tomato);
    padding: 5px 20px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
 } 

.programming{
    font-weight: 800;
    color: rgb(199, 160, 61);
}
.academy{
    color: rgb(148, 216, 165);
    font-weight: 800;
}

/*------ home section cards images style ------ */
.home-images.rounded-start.w-100{
    width: 315px;
    height: 200px;
}

/*------- home section cards style ------ */
.home-cards.card.h-100.hover{
    height: 200px;
    width: 310px;
    box-shadow: 2px 2px 8px 2px #aca8a8;
}

/*------- hover effect ------- */
.hover{
    display: inline-block;
    vertical-align: middle;
 
    transition-duration: 0.3s;
    transition-property: transform;
}
.hover:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px orange;
    
}