.hero-section{
    background-color:rgb(37, 3, 25);
}
.programming{
    font-weight: 800;
    color: rgb(199, 160, 61);
}
.academy{
    color: rgb(148, 216, 165);
    font-weight: 800;
}

.hover{
    display: inline-block;
    vertical-align: middle;
 
    transition-duration: 0.3s;
    transition-property: transform;
}

.hover:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px orange;
    
}
