/*------ menubar part style ------ */
.items {
    display: flex;
    list-style: none;
    margin-right: 30px;
    margin-top: 30px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
  
  }

  .items:hover {
    color: goldenrod;
  }

  body {
     background-color: whitesmoke;
  }

  ul li{
    color: white;
  }

  ul li:hover{
    color: goldenrod;
  }

  .logo-img.d-flex.align-center.p-2 {
    width: 500px;
  }

  .MenuBar-container{
      background-color:  #060f20;
  }